* {
    box-sizing: border-box;
}


li {
    list-style: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 42, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    color: aqua;
}

.header-right li {
    float: left;
    line-height: 65px;
    margin-top: 0;
    margin-right: 20px;
    padding: 0 20px;
}

.selected {
    color: aqua;
    font-weight: bold;
}

.header-right li a {
    color: white;
}



.logo {
    line-height: 65px;
    margin-top: 0;
    margin-left: 20px;
    color: aqua;
}

.top-wrapper {
    height: 1000px;
    padding: 180px 0 100px 0;
    background-image: url("../image/top.jpg");
    background-size: cover;
    color: green;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-wrapper {
    margin: 20px 0;
}

.enter {
    background-color: #239B76;
}

.btn {
    padding: 8px 24px;
    color: aqua;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.7;
    font-size: 14px;
}





