li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 42, 0.9);
}

.header-left {
    float: left;
}

.logo {
    line-height: 65px;
    margin-top: 0;
    margin-left: 20px;
    color: aqua;
}

.header-right {
    float: right;
    color: aqua;
}

.header-right li {
    float: left;
    line-height: 65px;
    margin-top: 0;
    margin-right: 20px;
    padding: 0 20px;
}

.selected {
    color: aqua;
    font-weight: bold;
}

.header-right li a {
    color: white;
}

.main {
    width: 100%;
    background-color: blueviolet;
}

.footer {
    height: 200px;
    background-color: #FCFFC0;
    clear: left;
}

.sidebar {
    height: 600px;
    width: 200px;
    float: left;
    padding: 30px;
    background-color: aqua;
}

.sidebar li {
    color: white;
    background-color: #40BFB0;
    padding: 15px;
    margin-bottom: 10px;
}

.contents {
    background-color: #E8E5FF;
    height: 600px;
    width: 900px;
    float: left;
}

.contents h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: solid 1px #999999;
    padding: 16px;
}